@import "tailwindcss";



body {
    font-family: Montserrat, sans-serif;
}
html, body {
    overflow-x: hidden;
}
html::-webkit-scrollbar {
    width: 6px;
}
html::-webkit-scrollbar-track {
    background: #C4C4C4;
}
html::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 9999px;
    backdrop-filter: blur(2px);
}




@theme {
    --text-fluid-ms: clamp(10px,0.52vw,20px);
    --text-fluid-us: clamp(12px,0.62vw,24px);
    --text-fluid-sm: clamp(13px,0.63vw,26px);
    --text-fluid-md: clamp(16px,0.83vw,32px);
    --text-fluid-h1: clamp(20px,1.04vw,40px);
    --text-fluid-years: clamp(10px,0.52vw,20px);


    --spacing-fluid-gapms: clamp(8px,0.41vw,16px);  /*gap 2;*/
    --spacing-fluid-gapus: clamp(16px,0.83vw,32px); /*gap 4;*/
    --spacing-fluid-gapns: clamp(24px,1.25vw,48px); /*gap 6;*/
    --spacing-fluid-gapsm: clamp(34px,1.87vw,73px);


    --spacing-fluid-ms: clamp(10px,0.52vw,20px);
    --spacing-fluid-us: clamp(12px,0.62vw,24px);
    --spacing-fluid-ns: clamp(14px,0.72vw,28px);
    --spacing-fluid-sm: clamp(16px,0.83vw,32px);
    --spacing-fluid-md: clamp(32px,1.66vw,64px);
    --spacing-fluid-lg: clamp(36px,1.87vw,72px);
    --spacing-fluid-education: clamp(60px,3.12vw,120px);
    --spacing-fluid-educ-pt: clamp(9px,0.46vw,18px);
    --spacing-fluid-timeline-sp: clamp(26px,1.35vw,52px);
    --spacing-fluid-timeline-ml: clamp(30px,1.56vw,60px);


    --spacing-fluid-contact: clamp(103px,5.36vw,206px);
    --spacing-fluid-cont-pt: clamp(24px,1.25vw,48px);
    --spacing-fluid-cont-pb: clamp(48px,2.5vw,96px);
    --spacing-fluid-cont-imgpt: clamp(17px,0.88vw,44px);
    --spacing-fluid-cont-icopt: clamp(4px,0.2vw,8px);
    --spacing-fluid-space-y-3: clamp(12px, calc(12px + (100vw - 320px) * 0.625%), 48px);
    --spacing-fluid-cont-int: clamp(11px,0.57vw, 22px);
    --spacing-fluid-wp:clamp(13px,0.67vw,26px);


    --leading-fluid-ns: clamp(13px,0.67vw,26px);
    --leading-fluid-sm: clamp(18px,0.93vw,36px);
    --leading-fluid-h1: clamp(24px, 1.25vw, 48px);
    --leading-fluid-company: clamp(16px, 0.83vw, 32px);

}

@theme inline {
    --animate-meteor: meteor 5s linear infinite;
    @keyframes meteor {
        0% {
            transform: rotate(var(--angle)) translateX(0);
            opacity: 1;
        }
        70% {
            opacity: 1;
        }
        100% {
            transform: rotate(var(--angle)) translateX(-500px);
            opacity: 0;
        }
    }
}





